{% extends "base.html.twig" %}

{% block body %}
    <h5 class="card-header aqua-gradient white-text text-center py-4" style="background-color:#74D0F1;">
            <strong>Deconnexion reçu  </strong>
    </h5>

{% endblock %}    
